.Rproj.user
.Rhistory
.RData
.Ruserdata
fig/
etc/
output/*
*.xlsx
data/*
tmp/
cty-sim/data
cty-sim/output
cty-sim/*.tgz
cty-sim/sim_pop-*/
state-sim/data
state-sim/output
state-sim/*.tgz
state-sim/sim_pop-*/
*.png
!ts/*.png
*.pdf
./*.tgz
.DS_Store
